# Ignore Everything
/*

# Except for these:
!/.gitignore
!/Assets
!/ProjectSettings
Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Assets/FMOD/BiesVsCzady/Plugins.meta
Assets/FMOD/BiesVsCzady/Metadata/VCA.meta
Assets/FMOD/BiesVsCzady/Metadata/Snapshot.meta
Assets/FMOD/BiesVsCzady/Metadata/SandboxScene.meta
Assets/FMOD/BiesVsCzady/Metadata/ProfilerSession.meta
Assets/FMOD/BiesVsCzady/Metadata/ParameterPreset.meta
Assets/FMOD/BiesVsCzady/Metadata/MixerView.meta
Assets/FMOD/BiesVsCzady/Metadata/Locale.meta
Assets/FMOD/BiesVsCzady/Metadata/Group.meta
Assets/FMOD/BiesVsCzady/Metadata/EffectPreset.meta
Assets/FMOD/BiesVsCzady/Metadata/DAWProject.meta
Assets/FMOD/BiesVsCzady/Metadata/DAWAsset.meta
Assets/FMOD/BiesVsCzady/Metadata/DataFile.meta
